#bye {
  text-align: center;
}

.brand {
    position: absolute;
    left: 50%;
    margin-left: -143px !important;  /* 50% of your logo width */
    display: block;
}

#index, #profile {
  margin-top: 30px;
}

#score {
  margin: 0 0 4px;
  min-width: 29px;
  text-align: center;
  vertical-align: middle;
}

#question_list {
  padding-top: 25px;
}
