{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha384-C0X5qw1DlkeV0RDunhmi4cUBUkPDTvUqzElcNWm1NI2T4k8tKMZ+wRPQOhZfSJ9N" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Flop</title>
  </head>
  <body>
    <nav class="navigation navbar-default navbar-fixed" id="flop_navbar">
      <div class="container-fluid">
        <img src="{% static 'images/water_icon.png' %}" class="navbar-text pull-xs-left" style="width: 20px;height: 20px"></img>
        <a class="navbar-text navbar-left" id="logo" href="/">Flop Undercurrent</a>
        <h3 class="navbar-text">Let The Knowledge Flow Through You</h3>
        <form class="navbar-form navbar-right">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      {% if user.is_authenticated %}
      <a class="navbar-text navbar-right" id="logout" href="/logout">Logout</a>
      {% else %}
      <a class="navbar-text navbar-right" id="login" href="/login">Login</a>
      <a class="navbar-text navbar-right" id="register" href="/register">Register</a>
      {% endif %}
      </div> <!-- container fluid -->
    </nav>
    {% block body %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'js/app.js' %}"></script>
  </body>
</html>
