{% extends 'flop/base.html' %}
{% block body %}
<div class='container'>
  <div class="col-md-4 col-md-offset-4 card">
    <h3 class="card-header">
        Login
    </h3>
    <form method="post" action=''>
        {% csrf_token %}
        <div>
            <div class='form card-block'>
                <div>
                    <label for 'username'>User Name:</label>
                    <input class='form-control' id='username' name='username'>
                </div>
                <div>
                    <label for="pwd">Password:</label>
                    <input type='password' class='form-control' id='pwd' name='password'>
                </div>
                <button type='submit' class='btn btn-default' style="margin-top: 15px">Submit</button>
                {{message}}
            </div>
        </div>
    </form>
  </div>
</div>
{% endblock %}
