{% extends 'flop/base.html' %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h2>{{ object.title }}</h2>
      <hr>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-1 col-md-offset-1">
      <div class="row">
        <div class="col-md-6">
          <button><span class="glyphicon glyphicon-chevron-up" id="up_vote"></span></button>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p id="score"></p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button><span class="glyphicon glyphicon-chevron-down" id="down_vote"></span></button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="panel panel-info question" id="{{ object.id }}">
        <div class="panel-body">
          {{ object.description }}
        </div>
        <div class="panel-footer panel-info">submitted: {{ object.created_on }} by {{ object.user }} || Tags: {% for tag in object.tags.all %} {{ tag.name }} {% endfor %}</div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" id="answer_anchor">
      <!-- <div class="panel panel-default" id="{{ object.id }}">
        <div class="panel-body">
          {{ object.description }}
        </div>
        <div class="panel-footer">submitted: {{ object.created_on }} by {{ object.user }}</div>
      </div> -->
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <hr>
      <form class="form-horizontal" id="final_answer">
        {% csrf_token %}
        <div class="form-group">
          <div class="col-md-12">
            <textarea class="form-control" rows="3" placeholder="Add your answer..." id="newAnswer" name="newAnswer"></textarea>
            <input type="hidden" class="form-contol" id="userName" name="userName" value="{{ user.id }}">
          </div>
        </div>
        <button type="submit" class="btn btn-default" id="add_answer">Submit Answer</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
