{% extends 'flop/base.html' %}
{% block body %}

<div class="container">
  <div class="col-md-10 col-md-offset-1 card text-xs-center">
    <h2>Welcome to Flop Undercurrent! Please register using the form below</h2>
    <div class="form-group-row card-block inline text-justify">
      <form method="post" action="">
        {% csrf_token %}
        <div class="col-md-6 col-md-offset-3">
            <div class='form card-block'>
                <div>
                    <label for 'username'>User Name:</label>
                    <input class='form-control' id='username' name='username' required>
                </div>
                <div>
                    <label for="first_name">First Name:</label>
                    <input type='text' class='form-control' id='first_name' name='first_name' required>
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type='text' class='form-control' id='last_name' name='last_name' required>
                </div>
                <div>
                    <label for="pwd">Password:</label>
                    <input type='password' class='form-control' id='pwd' name='password' required>
                </div>

                <button type='submit' class='btn btn-default' style="margin-top: 15px">Submit</button>
            </div>
        </div>
        <!-- <button type="submit" class="btn btn-default">Submit</button> -->
      </form>
    </div>
  </div>
</div>
{% endblock %}
